.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid black;
    z-index: 1000;
}


ul {
    list-style-type: none;
  }

  .expense {
    border: 1px solid #000;
    margin-left: 25%;
    margin-bottom:2%;
    margin-top:2%;
    padding: 10px;
    width: 50%;
  }