.App-header {
    background-color: #282c34;
    min-height: 20vh;
    max-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center; /* Centering the content horizontally */
    position: relative; /* To use position absolute for the menu button */
    font-size: calc(10px + 2vmin);
    color: white;
    margin-bottom: 3%;

  }
  
  .header-nav {
    position: absolute;
    right: 20px; /* Adjust as necessary */
    top: 50%;
    transform: translateY(-50%);
  }
  
  .menu-button {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
  }
  
  .menu-button div {
    width: 25px;
    height: 3px;
    background-color: white; /* Change to white to match your header */
    margin: 4px 0;
    transition: 0.4s;
  }
  
  .nav-links {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
    right: 0;
  }
  
  .nav-links a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .nav-links a:hover {
    background-color: #f1f1f1;
  }
  
  .header-nav.show .nav-links {
    display: block;
  }
  